{{!-- {{#if user }}
<div>
    <h6>ID: {{user._id}}</h6>
    <h6>username: {{user.username}}</h6>
    <h6>FirstNmae: {{user.firstName}}</h6>
    <h6>LastName: {{user.lastName}}</h6>
    <h6>Profession: {{user.profession}}</h6>
    <h6>Bio: {{user.bio}}</h6>
    <div>
    <h5><a href="/logout">Log out</a></h5>
    </div>
</div>
{{/if}} --}}