{{#if user }}
<div>
    <h4>ID: {{user._id}}</h4>
    <h4>Username: {{user.user_name}}</h4>
    <h4>Email: {{user.email}}</h4>
    <h4>Phone number: {{user.phone}}</h4>
    <h4>Comments: {{user.comments}}</h4>
    <h4>Favorites: {{user.favorites}}</h4>
    <div>
    <h3><a href="/logout">Log out</a></h3>
    </div>
</div>
{{/if}}