<!DOCTYPE html>
<html lang="en">
   
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Movie Recommendation</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/profile.css">
    <link rel="stylesheet" href="css/movieDetail.css">
  </head>
  

  <body>
    {{#if user }}
    <header class="top-header">
        <nav class="top-nav">
            <a href="/private">Home</a>
            <a href="/account_info">Profile</a>
            <a href="/favorites">Favorites</a>
            <a href="/about">About</a>
        </nav>
    
        <i id="avatar" class="avatar fa fa-user fa-2x"></i>
    </header>
    {{/if}}

    <div class="img">
    <img src="{{movie.galleries.[0]}}"></img>
    </div>
    <div class="info">
      <h1>{{movie.title}}</h1>
        <span class="content">Genre:</span>
        <span id="movie_genre" class="content">{{movie.genres}}</span>
        <br /><span class="content">Rating:</span>
        <span id="movie_rating" class="content">{{movie.rating}}</span>  
        <br /><span class="content">Released date:</span>
        <span id="movie_year" class="content">{{movie.released_date}}</span>
        <br /><span class="content">Director:</span>
        <span id="movie_director" class="content">{{movie.director}}</span>
        <br /><span class="content">Main actors:</span>
        <span id="movie_actor" class="content">{{movie.actors}}</span>
        <br /><span class="content">Comments:</span>
        <span id="movie_comments" class="content">{{movie.comments}}</span>
    </div>
    

    {{#if user }} 
    
      <div class="star">
        <form id="star">
        <input type="hidden" name="movie_name" value="{{title}}"></input>
        <h2>Rate here:</h2>
        <ul>
          <li><a href="javascript:;">1</a></li>
          <li><a href="javascript:;">2</a></li>
          <li><a href="javascript:;">3</a></li>
          <li><a href="javascript:;">4</a></li>
          <li><a href="javascript:;">5</a></li>
        </ul>
        
        </form>
      </div>

      <div class="add_fav">
        </form>
        <form action="/add_to_fav" method="post">
        <input type="hidden" name="movie_name" value="{{movies.title}}"></input>
        <button class="button blue" type="submit" >Add this movie into my favorite</button>
        </form>
      </div>

      <div class="comments">
        <div class="other_say">
          <br>
          <h2 class="title">Comments: </h2>
          {{#movies.comments}}
          <p class="username">{{username}} : </p> 
          <p class="content">{{comment}}</p>
          <p class="time">{{time}}</p>
          {{/movies.comments}}
        </div>
        <div class="comment_button">
          <form action="/comment_submit" method="post">
          <textarea class="word" name="content"></textarea>
          <input type="hidden" name="movie_id" value="{{movie._id}}"></input>
          <br>
          <br>
          <br>
          <button class="button blue" type="submit" >Add Comment</button>
          </form>
        </div>
        <a class="back" href="/private">Back to Home Page</a>
      </div>
      {{/if}}
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="js/submit.js"></script>
  <script src="js/comment.js"></script>
</html>